<div class="user-details">
  <h1>Expertise</h1>
  <p>I'm an Algorithm Engineer, major in the field of CV, NLP and OCR.<br>Always searching for the next challenge; no task is too scary nor too difficult.</p>
  <h1>Educational Background</h1>
  <p>I have received the B.Eng degree in the School of Computer Science and Engineering, Beihang University in 2018.<br>I'm persuing for the M.Eng degree since 2019</p>
  <h1>Footmarks</h1>
  <img src="http://m.qpic.cn/psc?/fef49446-40e0-48c4-adcc-654c5015022c/90yfO.8bOadXEE4MiHsPn4zDHilPRu7d5jutnXCbcadGOTGCxDHx.tldLXp44NvCzDsJMVwylYdOkoq8yxmxPg!!/b&bo=KglABgYPPwoRCWc!&rf=viewer_4" width="900" height="600"/>

  <h1>Github Guidance</h1>
  <h2>Mathematics</h2>
  <a target="_blank" href="https://github.com/Noba1anc3/Linear-Algebra">Linear Algebra - NTU - Hung-yi Lee [2019]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Mathematics">Advanced Mathematics & Linear Algebra & Probability Statistics [2018]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Matrix-Theory">Matrix Theory [2020]</a>

  <h2>English</h2>
  <a target="_blank" href="https://github.com/Noba1anc3/EN_News">Global News Reading [2018 ~ ]</a>

  <h2>Computer Science Basic Knowledge</h2>

  <h3>Notes</h3>
  <a target="_blank" href="https://github.com/Noba1anc3/-/issues">Notes [2017]</a>

  <h3>Courses</h3>
  <a target="_blank" href="https://github.com/Noba1anc3/Algorithm">Algorithm [2019]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Data-Structure">Data Structure [2018 - 2019]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Computer_Science/tree/master/%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%BB%84%E6%88%90%E5%8E%9F%E7%90%86">Computer Organization [2018]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Computer_Science/tree/master/%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%BD%91%E7%BB%9C">Computer Network [2018]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Computer_Science/tree/master/%E6%93%8D%E4%BD%9C%E7%B3%BB%E7%BB%9F">Operating System [2018]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Computational-Theory">Computational-Theory [2019]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Machine_Learning">Machine_Learning [2018 ~ ]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Machine_Learning/tree/master/Pattern%20Recognition">Pattern Recognition [2019]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Artificial-Intelligence">Artificial Intelligence [2020]</a>

  <h3>Leetcode</h3>
  <a target="_blank" href="https://github.com/Noba1anc3/PAT-Advanced">PAT Advanced [2019]</a>



</div>
