<div class="user-details">
  <h1>Expertise</h1>
  <p>I'm an Algorithm Engineer, major in the field of CV, NLP and OCR.<br>Always searching for the next challenge; no task is too scary nor too difficult.</p>
  <h1>Educational Background</h1>
  <p>I have received the B.Eng degree in the School of Computer Science and Engineering, Beihang University in 2018.<br>I'm persuing for the M.Eng degree since 2019.</p>
  <h1>Footmarks</h1>
  <img src="http://m.qpic.cn/psc?/fef49446-40e0-48c4-adcc-654c5015022c/U9VSE8DftkGCrX.UXUSpmx361aFc2Kq3.stH1TtF*jw6Vvp1efzsK0Eh4wWVpntQ*S5hXq7yWvSRM7VElFUspnxKF9c6PEkcOlmeEhg6vO0!/b&bo=OghABtgLAAkRKbA!&rf=viewer_4" width="947" height="720"/>

  <h1>Github Guidance</h1>
  <h2>Mathematics</h2>
  <a target="_blank" href="https://github.com/Noba1anc3/Linear-Algebra">Linear Algebra - NTU - Hung-yi Lee [2019]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Mathematics">Advanced Mathematics & Linear Algebra & Probability Statistics [2018]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Matrix-Theory">Matrix Theory [2020]</a>

  <h2>English</h2>
  <a target="_blank" href="https://github.com/Noba1anc3/EN_News">Global News Reading [2018 ~ ]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Technical-English">Technical English [2020]</a>
  
  <h2>Computer Science Basic Knowledge</h2>

  <h3>Notes</h3>
  <a target="_blank" href="https://github.com/Noba1anc3/-/issues">Notes [2017]</a>

  <h3>Courses</h3>
  <a target="_blank" href="https://github.com/Noba1anc3/Algorithm">Algorithm [2019]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Data-Structure">Data Structure [2018 - 2019]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Computer_Science/tree/master/%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%BB%84%E6%88%90%E5%8E%9F%E7%90%86">Computer Organization [2018]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Computer_Science/tree/master/%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%BD%91%E7%BB%9C">Computer Network [2018]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Computer_Science/tree/master/%E6%93%8D%E4%BD%9C%E7%B3%BB%E7%BB%9F">Operating System [2018]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Computational-Theory">Computational-Theory [2019]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Machine_Learning">Machine_Learning [2018 ~ ]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Machine_Learning/tree/master/Pattern%20Recognition">Pattern Recognition [2019]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Artificial-Intelligence">Artificial Intelligence [2020]</a>

  <h3>Leetcode</h3>
  <a target="_blank" href="https://github.com/Noba1anc3/PAT-Advanced">PAT Advanced [2019]</a>

  <h2>Engineering</h2>
  <h3>Android APP @ the Institute of Advanced Computing Technology</h3>
  <a target="_blank" href="https://github.com/Noba1anc3/AECOP_AndroidAPP">Chronic Obstructive Pulmonary Diseases Adjuvant Therapy [2017]</a>

  <h2>Research</h2>

  <h3>Graduation Design [2018] @ IRIP Laboratory, Beihang University</h3>
  <a target="_blank" href="https://github.com/Noba1anc3/pytorch-beginner">Pytorch Beginners</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/dcgan_vae_pytorch">DCGAN Pytorch</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/PixelDTGAN">PixelDTGAN Torch</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/GaitGAN">GaitGAN</a>

  <h3>Computer Vison</h3>

  <h4>⭐ Object Detection ⭐</h4>
  
  <h5>Overview</h5>
  <a target="_blank" href="https://noba1anc3.github.io/2020/04/15/R-CNN-Family.html">Overview of R-CNN Family [2020.04]</a>
  
  <h5>Algorithms</h5>
  <a target="_blank" href="https://github.com/Noba1anc3/Faster-RCNN-TensorFlow-2">Faster RCNN implemented on TensorFlow2 [2020.04]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/yolov3">YOLOv3 [2019]</a>
 
  <h4>⭐ Face Recognition ⭐</h4>
  <a target="_blank" href="https://github.com/Noba1anc3/ArcFace">ArcFace [2019]</a>

  <h3>Natural Language Processing</h3>

  <h4>NLP Knowledge</h4>
  <a target="_blank" href="https://github.com/Noba1anc3/NLP-Knowledge">NLP Knowledge [2019]</a>

  <h4>⭐ Named Entity Recognition ⭐</h4>
  <a target="_blank" href="https://github.com/Noba1anc3/CH-NER">Chinese NER Based on Bi-LSTM + CRF [2020.04]</a>

  <h3>Optical Character Recognition</h3>

  <h4>Text Detection</h4>
  <a target="_blank" href="https://github.com/Noba1anc3/PMTD">PMTD [2019]</a>

  <h4>Semantic Segmentation @ State Key Laboratory of Software Development Environment</h4>

  <h4>Semantic Segmentation</h4>
  
  <h5>Customs Invoice & PackingList</h5>
  <a target="_blank" href="https://github.com/Noba1anc3/MFCN">Multimodal Fully Convolutional Neural Networks [2019.06]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Rule_Based_Information_Extraction">Rule Based Information Extraction [2019.07]</a>

  <h5>⭐ Based on PDFMiner ⭐</h5>
  <a target="_blank" href="https://github.com/Noba1anc3/Academic-Paper-PDF-SemSeg">Aimed At English Academic Paper [2020.02 - 2020.03]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Academic-Paper-PDF-SemSeg-labelImg">English Academic Paper Annotate Tool [2020.03]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/Company-Articles-PDF-SemSeg">Aimed At Company Articles [2020.04]</a>
  <br>
  <a target="_blank" href="https://github.com/Noba1anc3/General-Doc-SemSeg">General Version [2020.04]</a>

  <h5>⭐ Publaynet ⭐</h5>
  <a target="_blank" href="https://github.com/Noba1anc3/Publaynet">Publaynet: Largest Dataset Ever for Document Layout Analysis [2020.04]</a>

</div>
